# Devel
bumpversion
pkginfo
build
setuptools
wheel

# Tests
coverage
coveralls
pytest
pytest-cov
pytest-xdist

# Linters and Type Checking
ruff; python_version >= "3.0"
mypy; python_version >= "3.0"
pylint; python_version >= "3.0"
types-six; python_version >= "3.0"
yamllint; python_version >= "3.0"
